<div class="field">
  <%= f.label :username %><br />
  <%= f.text_field :username, :value => @channel.config['username'] %>
</div>
<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password, :value => @channel.config['password'] %>
</div>
