%h2 Channels

%br
.tablewrapp.w60
  %table.GralTable.TwoColumn.CleanTable.ItemsTable{:class => ('empty' if @channels.empty?)}
    %tr
      %th My Channels
      %th
        = select_tag('new_channel', options_for_select(@channel_kinds), onchange: 'create_channel(this)', prompt: 'Create new...')
    - if @channels.empty?
      %tr
        %td.EmptyFolder{:colspan => 100}
          %br
          You have no channels yet.
          %br
          = select_tag('new_channel', options_for_select(@channel_kinds), onchange: 'create_channel(this)', prompt: 'Create new...')
    - else
      - @channels.each do |channel|
        %tr.link{'data-url' => channel_path(channel)}
          %td= channel.name
          %td
            %button.farrow{:type => :button}
