= render 'shared/project_tabs_and_title', :shared_project => @shared_project

%h2 Feeds
%p Securely share activity feeds of your projects

- feeds.each do |feed|
  = render 'box', :feed => feed, :expanded => feed.errors.any?

- if project_admin?
  .box.grey.w60.addqueue
    %span
      = link_to_add_box :feed, "Add Feed", project, :class => 'add_fields'
    %button.cadd.right{:onclick => "$('.add_fields').click();", :type => "button"}
    .clear
