.bundle
*.log
*.log.*
*.sqlite3
*.tmp*~
*.orig
*.pid
*.*~
*.o
*.so
*.swp
.DS_Store
tmp/*
spec/reports/*
public/assets
public/applications
data
config/oauth.yml
broker/deps
broker/ebin
broker/.eunit
broker/*.plt
broker/rel/verboice
config/nuntium.yml
erl_crash.dump
.vagrant
