%script{type: "text/html", id: "branch_step_template"}
  .feditor-sidebar.right.box.w28.iblock.h65
    .tableheader
      %span.left.i48grad-directions
      %input.ux-text.w20.right{ 'data-bind' => 'value: name, valueUpdate: "afterkeydown"' }

    .content
      %label Branches

      %ul.oplist
        %span{ 'data-bind' => 'foreach: options' }
          %li
            %span{'data-bind' => 'text: next_name()'}
            %span{'data-bind' => 'visible: is_empty'} Empty option!
            %button.clist-remove{ 'data-bind' => 'click: $parent.remove_option_with_confirm' }
            %a{:href => '#', 'data-bind' => 'click: $parent.move_option_up'} Up
            %a{:href => '#', 'data-bind' => 'click: $parent.move_option_down'} Down
            %a{:href => '#', 'data-bind' => 'click: add_condition'} Add condition
            %span{ 'data-bind' => 'foreach: conditions' }
              %span Condition
              %select{'data-bind' => "value: subject, groupedOptions: available_conditions(), optionsText: 'name', optionsValue: 'value', optionsGroup: 'group', optionsCaption: 'Select one...'"}
              %select{'data-bind' => 'value: operator'}
                %option{:value => '=='} is equal to
                %option{:value => '>='} greater or equal to
                %option{:value => '<='} less or equal to
                %option{:value => '>'} greater than
                %option{:value => '<'} less than
              %input{'data-bind' => 'value: value'}
              %button.clist-remove{ 'data-bind' => 'click: $parent.remove_condition' }
        %li
          %span.ux-text
            Add an option:
            %select.w10{ko(options: 'commands()', optionsText: "function(item) { return (new window[item]({})).default_name() }", value: 'new_option_command')}
          %button.clist-add{ 'data-bind' => 'click: add_option'}

        %li{'data-bind' => "ifnot: has_else"}
          %span.ux-text
            Add an default option:
            %select.w10{ko(options: 'commands()', optionsText: "function(item) { return (new window[item]({})).default_name() }", value: 'new_else_option_command')}
          %button.clist-add{ 'data-bind' => 'click: add_else_option'}

        %li{'data-bind' => "if: has_else"}
          / ko with: else_option
          %span.ux-text If none of the above options match
          %span{'data-bind' => 'text: next_name()'}
          %button.clist-remove{ 'data-bind' => 'click: $parent.remove_option_with_confirm' }
          / /ko

      .bottom-actions
        %button.fdelete{ 'data-bind' => 'click: remove_with_confirm' } Remove this step