%script{type: "text/html", id: "capture_step_template"}
  %span
    %div{ko(:if => "is_editing_message()")}
      %div{ko(:template => "{name: 'message_template', data: current_editing_message}")}

    %div{ko(:if => "!is_editing_message()")}
      .feditor-sidebar.right.box.w28.iblock.h65
        .tableheader
          %span.left.i48grad-numeral
          %input.ux-text.w20.right{ 'data-bind' => 'value: name, valueUpdate: "afterkeydown"' }

        %table.GralTable.TwoColumn.CleanTable.NoHead
          %tr
            %th Messages
            %th
            %tr
              %td
                Instructions:
                %span{ko(text: "message('instructions').name()")}
              %td
                %button.farrow{ :type => "button", 'data-bind' => 'click: show_instructions_message' }
            %tr
              %td
                Invalid:
                %span{ko(text: "message('invalid').name()")}
              %td
                %button.farrow{ :type => "button", 'data-bind' => "click: show_invalid_message" }
            %tr
              %td
                End call:
                %span{ko(text: "message('end_call').name()")}
              %td
                %button.farrow{ :type => "button", 'data-bind' => "click: show_end_call_message" }
        .content{ko('instedd_init' => true)}
          %hr
          %label Validation
          %br/

          %span.validation
            Min input length
          .ux-nstep.w06
            %input{'type' => 'text', 'size' => 2, 'data-min' => 1, 'data-bind' => 'value: min_input_length'}
          %br/

          %span.validation
            Max input length
          .ux-nstep.w06
            %input{'type' => 'text', 'size' => 2, 'data-min' => 1, 'data-bind' => 'value: max_input_length'}
          %br/

          %span.validation
            Valid values
          %input.w10{'type' => 'text', 'data-bind' => 'value: valid_values'}
          %br/

          %span.validation
            Finish on key
          %input.w06{'type' => 'text', 'size' => 1, 'data-bind' => 'value: finish_on_key'}
          %br/

          %hr
          = store_value_tags
          %br/

          %hr
          .bottom-actions
            %button.fdelete{ 'data-bind' => 'click: remove_with_confirm' } Remove this step