%script{type: "text/html", id: "transfer_step_template"}
  .feditor-sidebar.right.box.w28.iblock.h65
    .tableheader
      %span.left.i48grad-callback{ ko(css: '{ "orange": is_invalid }') }
      %input.ux-text.w20.right{ ko(value: 'name', valueUpdate: '"afterkeydown"', css: '{ "error": is_name_invalid }')}

    .content
      %label Forward to
      %br

      %span.forwardto{ko(css: "{ orange: is_address_invalid }")}
        Phone number:
        %span{ko(css: "{ alert: is_address_invalid }")}
      %input.ux-text.w20{ 'data-bind' => 'value: address, valueUpdate: "afterkeydown"' }
      %br

      %span.forwardto
        Channel:
      %select{ko(value: 'channel')}
        %option{:value => nil} Use current channel
        = options_from_collection_for_select(current_account.channels, 'name', 'name')
      %br

      %hr

      .bottom-actions
        %button.fdelete{ 'data-bind' => 'click: remove_with_confirm' } Remove this step