%script{type: "text/html", id: "menu_step_template"}
  .box.w30.iblock.feditor-sidebar.right.h65{ 'data-bind' => 'with: current_step' }
    .tableheader
      %span.i48grad-dial.left
      %input.ux-text.w20.right{ 'data-bind' => 'value: name, valueUpdate: "afterkeydown"' }

    %table.GralTable.TwoColumn.CleanTable.NoHead
      %tr
        %th Messages
        %th
        %tr
          %td Start Recording
          %td
            %button.farrow{ :type => "button", 'data-bind' => 'click: start_recording' }
        %tr
          %td Stop Recording
          %td
            %button.farrow{ :type => "button", 'data-bind' => 'click: stop_recording' }
        %tr
          %td Invalid: Invalid
          %td
            %button.farrow{ :type => "button" }
        %tr
          %td
            End call
            %span{ko(text: 'end_call_message().name()')}
          %td
            %button.farrow{ :type => "button" }
    %hr
    .content
      %hr
      %label Options
      %br
      %ul.oplist
        %span{ 'data-bind' => 'foreach: options' }
          %li
            %select{ko(options: 'available_numbers', value: 'number')}
            %span{ko(text: "next_name()", click: 'select_step')}
            /%input.ux-oplist{ :type => "text", 'data-bind' => 'value: description'}
            %button.clist-remove{ 'data-bind' => 'click: $parent.remove_option' }
        %li
          Add an option:
          %select{ko(options: 'commands()', value: 'new_option_command')}
          %button.clist-add{ 'data-bind' => 'click: add_option'}
    .bottom-actions
      %button.fdelete{ 'data-bind' => 'click: remove' } Remove this step
