%script{type: "text/html", id: "menu_message_template"}
  .w22
    %label{ko(text: 'title')}
    %br/
  .w22
    %input{ko(value: 'name')}
    %br
  .player
    %span{ko(text: 'duration', css: "{recording: recording()}")}
    %button.fplay{ko(click: 'play', visible: '!playing()', css: "{disabled: recording()}")}
    %button.fstop{ko(click: 'stop', visible: 'playing()')}
    %button.frecording{ko(click: 'record', visible: '!recording()', css: "{disabled: playing()}")}
    %button.fstopped{ko(click: 'stop', visible: 'recording()', css: "{active: recording(), disabled: playing()}")}
  .bottom-actions
    %button.fleft{ 'data-bind' => 'click: back' } Back
