%script{type: "text/html", id: "string"}
  %div
    %hr
    %p.title{ko(text: "name()")}
    %p.smalltext Additional help for this question.
    %input{ :type => 'text', 'data-bind' => 'value: value' }