- content_for :head do
  :javascript
    var commands = #{raw Command.specs.to_json};
    var flow = #{raw @application.flow.to_json};

%h1 Steps
%ul#workflow{'data-bind' => 'foreach: steps'}
  %li
    %h3{ko(text: 'name')}
    %div{'data-bind' => 'foreach: arguments'}
      %span
        Un argumento
        / %label{ko(text: "name")}
        / %input{'type' => 'text', 'data-bind' => 'value: value' }
    %span{'data-bind' => 'click: remove'} remove

%h1 Commands
%ul#command-list{'data-bind' => 'foreach: commands'}
  %li{ko(text: 'name', click: 'add_to_steps')}