%p
  An Application specifies what to do when an incoming call arrives through a Channel.
%br
= link_to 'Create a new Application', new_application_path, :class => "button white cancel"
%br
- if @applications.present?
  %br
  %table.GralTable
    %tr
      %th Name
      %th Mode
    - @applications.each do |app|
      %tr.link{'data-url' => application_path(app)}
        %td= app.name
        %td= app.info