body { background-color: #fff; color: #333; margin: 0px; height: 100%;}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h4 {
  color: white;
  text-decoration: none;
  background-color: #a79261;
  border-top: 2px solid #68573c;
  font-weight: bold;
  padding: 2px;
  clear: both;
}

h5 {
  color: white;
  text-decoration: none;
  background-color: #c9B483;
  border-top: 2px solid #8A795e;
  font-weight: bold;
  padding: 2px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.alert {
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#title {
  color: #701;
  font-weight:bold;
  font-size: 20px;
  text-decoration: none;
}

#main {
  padding: 8px;
}

#header {
  padding: 8px;
}

#toolbar {
  font-size: 14px;
  float:right;
  clear:both;
}

table.table {
  padding: 0px;
  border: 0px;
}

.table td {
  border: 0px;
  padding: 1px;
  background-color: #EFEFEF;
}

.table tr.even td {
  background-color: #EFEFEF;
}

.table tr.odd td {
  background-color: #DADADA;
}

.table th  {
  border: 0px;
  padding: 1px;
  background-color: #DAD1BC;
  font-size: 12px;
}

.notice {
  border-radius: 4px;
  -moz-border-radius: 4px;
  background:#FFF1A8;
  padding:4px 10px 4px 10px;
  font-weight:bold;
  margin-left:35%;
  display:inline-block;
  text-align:center;
  clear: both;
}

#tabs {
  float: left;
  position: relative;
  list-style: none;
  width: 100%;
  display: block;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  padding-top: 10px;
  border-bottom: 1px solid black;
}

#tabs li {
  float: left;
  display: block;
  padding: 2px 8px 2px 8px;
  margin-left: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border: 1px solid black;
  position: relative;
  top: 1px;
  background: #efefef;
}

#tabs li a {
  text-decoration: none;
}

#tabs li.selected {
  border-bottom: 1px solid white;
  background: white;
}

#tabs li.selected a {
  text-decoration: none;
}

#container {
  min-height: 100%;
  position: relative;
}

#version_separator {
  height: 20px;
}

#version {
  position: absolute;
  bottom: 0px;
  right: 4px;
  height: 20px;
  width: 100%;
  color: #666;
  text-align: right;
  font-size: 8pt;
}

#flow_actions {
  list-style: none;
  display: block;
  float: left;
  position: relative;
  margin: 0px;
  padding: 0px;
}

#flow_actions li {
  float: left;
  display: block;
  margin-right: 10px;
  margin-left: 0px;
}

.trace {
  color: #ADADAD;
}

.warn {
  color: orange;
}

.error {
  color: red;
}

input.highlighted {
  background-color: #FFF1A8;
}
