{sys, [
       {lib_dirs, []},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "verboice", "1",
        [
         kernel,
         stdlib,
         sasl,
         ernie_server,
         verboice
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "verboice"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, ssl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, inets, [{incl_cond, include}]},
       {app, compiler, [{incl_cond, include}]},
       {app, syntax_tools, [{incl_cond, include}]},
       {app, xmerl, [{incl_cond, include}]},
       {app, asn1, [{incl_cond, include}]},
       {app, public_key, [{incl_cond, include}]},
       {app, erl_dbmodel, [{incl_cond, include}, {lib_dir, "../deps/erl_dbmodel"}]},
       {app, lager, [{incl_cond, include}, {lib_dir, "../deps/lager"}]},
       {app, ernie_server, [{incl_cond, include}, {lib_dir, "../deps/ernie_server"}]},
       {app, mysql, [{incl_cond, include}, {lib_dir, "../deps/mysql"}]},
       {app, erjs, [{incl_cond, include}, {lib_dir, "../deps/erjs"}]},
       {app, erlyjs, [{incl_cond, include}, {lib_dir, "../deps/erlyjs"}]},
       {app, json, [{incl_cond, include}, {lib_dir, "../deps/json"}]},
       {app, ruby_marshal, [{incl_cond, include}, {lib_dir, "../deps/ruby_marshal"}]},
       {app, yamler, [{incl_cond, include}, {lib_dir, "../deps/yamler"}]},
       {app, verboice, [{incl_cond, include}, {lib_dir, ".."}]}
      ]}.

{target_dir, "verboice"}.

{overlay, [
           {mkdir, "tmp/www"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/verboice", "bin/verboice"},
           {copy, "files/verboice.cmd", "bin/verboice.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
%          {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           {copy, "../ernie.config"},
           {copy, "../verboice.config", "etc/app.config"},
           {copy, "../priv"}
          ]}.
