<%= link_to 'Create new schedule', new_schedule_path %>

<table class="GralTable">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
<%- schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.name %></td>
    <td>
      <%= link_to 'edit', edit_schedule_path(schedule) %>
      <%= link_to 'delete', schedule, :confirm => "Are you sure you want to delete the schedule #{schedule.name}?", :method => :delete %>
    </td>
  </tr>
<%- end %>
</table>