#footer-container
  %div
    .left.platform
      InSTEDD has created an evolving platform of free and open source technologies to support humanitarian causes. These tools can be used individually or as building blocks for larger solutions.
      %a{:href => "http://instedd.org/technologies/"} 
        Click here
      to learn more.
    .right
      %a.more{:href => "http://instedd.org/technologies/"} 
        Learn more
      #instedd-footer{"data-app-name" => "verboice"}
    .clear
  %div
    .left
      %a{:href => "http://instedd.org"} 
        &copy; 2011 InSTEDD
      -#%a{:href => "#"} Terms and conditions
  .clear