= f.fields_for :addresses, caddr, :child_index => child_index do |builder|
  %li
    = builder.text_field :address, :class => 'ux-clist'
    = builder.hidden_field :_destroy
    %button.clist-remove(type="button")

