.fields
  .field
    = f.label :value, f.object.name
    = f.text_field :value, :class => 'w30'
    = f.hidden_field :name, :value => f.object.name
    = link_to_remove_fields "", f, :class => 'clist-remove'