%h2 Projects

%br
.tablewrapp.w60
  %table.GralTable.TwoColumn.CleanTable.ItemsTable{:class => ('empty' if @projects.empty?)}
    %tr
      %th My Projects
      %th
    - if @all_projects.empty?
      %tr
        %td.EmptyFolder{:colspan => 100}
          %br
          You have no projects yet.
          %br
          = link_button_to ('Create Project'), new_project_path, :class => 'EmptyAddButton button cadd'
    - else
      - @all_projects.each do |project, permission|
        %tr.link{'data-url' => project_path(project)}
          %td
            = project.name
            - if permission
              (shared as #{permission})
          %td
            %button.farrow{:type => :button}
      %tr.link{'data-url' => new_project_path}
        %td Create Project
        %td
          %button.cadd
