%button.fright{ 'data-bind' => 'click: set_as_initial_subflow, visible: show_set_as_initial_subflow' } Set as initial sub flow
%button.fdelete{ 'data-bind' => 'click: remove_with_confirm' } Remove this step
