%script{type: "text/html", id: "branch_option_template"}
  .popup
    .courtain
    .box.popupmessage
      %div{'data-bind' => 'text: next_name()'}
      %hr

      %div{'data-bind' => 'if: is_editing_condition'}
        .box.grey.noshadow
          / ko with: current_editing_condition
          %table
            %tbody
              %tr{ko(with: 'lhs')}
                %td
                  %select.w10{'data-bind' => "value: content_kind, options: content_kinds(), optionsText: 'text', optionsValue: 'value'"}
                %td
                  %input.ux-text.w10{:type => 'text', 'data-bind' => 'value: value, valueUpdate: "afterkeydown", visible: content_kind() == "value"'}
                  %select.w10{'data-bind' => 'value: variable, visible: content_kind() == "variable", options: available_variables()'}
                  %select.w10{'data-bind' => 'value: step_id, visible: content_kind() == "step", options: available_steps(), optionsText: "name", optionsValue: "value"'}
                  %select.w10{'data-bind' => 'value: response, visible: content_kind() == "response", options: available_responses(), optionsText: "name", optionsValue: "value"'}
              %tr
                %td{colspan: 2}
                  %select{'data-bind' => "value: operator, options: operators, optionsText: 'text', optionsValue: 'value'", 'style' => 'width: 203px; margin-top: 7px'}
              %tr{ko(with: 'rhs')}
                %td{ko(:if => "($parent.operator() != 'def') && ($parent.operator() != 'undef')")}
                  %select.w10{'data-bind' => "value: content_kind, options: content_kinds(), optionsText: 'text', optionsValue: 'value'"}
                %td{ko(:if => "($parent.operator() != 'def') && ($parent.operator() != 'undef')")}
                  %input.ux-text.w10{:type => 'text', 'data-bind' => 'value: value, valueUpdate: "afterkeydown", visible: content_kind() == "value"'}
                  %select.w10{'data-bind' => 'value: variable, visible: content_kind() == "variable", options: available_variables()'}
                  %select.w10{'data-bind' => 'value: step_id, visible: content_kind() == "step", options: available_steps(), optionsText: "name", optionsValue: "value"'}
                  %select.w10{'data-bind' => 'value: response, visible: content_kind() == "response", options: available_responses(), optionsText: "name", optionsValue: "value"'}
              %tr
                %td
                %td
                %td
                  %button.faccept{'type' => 'button', 'data-bind' => 'click: $parent.close_condition_edition'}
          / /ko

      %table.GralTable.TwoColumn.CleanTable.NoHead
        %tbody
          / ko foreach: conditions
          %tr
            %td.clickable{'data-bind' => 'text: description, click: $parent.show_condition'}
            %td
              %button.clist-remove{'data-bind' => 'click: $parent.remove_condition'}
          / /ko
          %tr
            %td Add condition
            %td
              %button.clist-add{'data-bind' => 'click: add_condition'}
      %hr
      %button.white{'data-bind' => 'click: save'} Save
      %button.white.cancel{'data-bind' => 'click: cancel'} Cancel
