%script{type: "text/html", id: "branch_step_template"}
  .feditor-sidebar.right.box.w28.iblock.h65

    / ko if: is_editing_option()
    %div{ko(:template => "{name: 'branch_option_template', data: current_editing_option}")}
    / /ko

    .tableheader
      %span.left.i48grad-directions{'data-bind' => "css: { orange: is_invalid }"}
      %input.ux-text.w20.right{ ko(value: "name", valueUpdate: '"afterkeydown"', css: '{ "error": is_name_invalid }') }

    %table.GralTable.TwoColumn.CleanTable.NoHead
      %tr
        %th{ko(css: "{ orange: are_options_invalid }")}
          Branches
          %span{ko(css: "{ alert: are_options_invalid }")}
        %th
      / ko foreach: options
      %tr
        %td.clickable{'data-bind' => 'text: next_name(), click: $parent.show_option'}
        %td.nowrap
          .btupdn
            %button.fmoveup{'data-bind' => 'click: $parent.move_option_up'}
            %button.fmovedown{'data-bind' => 'click: $parent.move_option_down'}
          %button.fremove{'data-bind' => 'click: $parent.remove_option_with_confirm'}
      / /ko
      %tr
        %td.nowrap{:colspan => '2'}
          Add branch
          %select{:style => 'width:165px', 'data-bind' => "options: commands(), optionsText: function(item) { return (new window[item]({})).default_name() }, value: new_option_command"}
          %button.fadd{'data-bind' => 'click: add_option'}

    .content
      %hr
      %label If none of the above conditions match
      %br
      %span{:style => 'display:inline-block; width:73px;'} Default
      %select{:style => 'width:165px', 'data-bind' => 'options: commands(), optionsText: function(item) { return (new window[item]({})).default_name() }, value: default_command_selected, event: { change: change_default_option }'}

    .bottom-actions
      %button.fdelete{ 'data-bind' => 'click: remove_with_confirm' } Remove this step