%script{type: "text/html", id: "command_selector_template"}
  .feditor-sidebar.box.w28.iblock.h65.addstep.right
    .content-header
      %h1 Add step
      %span Choose one of the options below to insert a new step in the app
    .content-buttons
      / ko foreach: standard_commands
      %div
        %button{'data-bind' => 'click: selected, class: button_class, style: {background: background_style()}', :style => 'display:block' }
        %span{ko(text: 'name()')}
      / /ko

      / ko if: external_commands().length > 0
      %hr
      = link_to 'Manage external services', project_external_services_path(@project), :class => 'farrow'

      %br/
      %br/

      / ko foreach: external_commands
      %div
        %button{'data-bind' => 'click: selected, class: button_class, style: {background: background_style()}', :style => 'display:block' }
        %span{ko(text: 'name()')}
      / /ko
      / /ko

