%script{type: "text/html", id: "external_step_template"}
  .feditor-sidebar.right.box.w28.iblock.h65

    / ko if: is_editing_setting()
    %div{ko(:template => "{name: 'external_setting_template', data: current_editing_setting}")}
    / /ko

    .tableheader
      %span.left.i48grad-phone{ ko(css: '{ "orange": is_invalid }') }
      %input.ux-text.w20.right{ ko(value: 'name', valueUpdate: '"afterkeydown"', css: '{ "error": is_name_invalid }')}

    .content.scroll
      %label Outgoing
      %br
      %span.desc Define hoy to fill this variables

      %table.GralTable.TwoColumn.CleanTable.NoHead{ko(:if => 'settings().length > 0')}
        %tbody{ko(foreach: 'settings')}
          %tr
            %td{ko(text: 'display_name')}
            %td
              %button.farrow{ko(click: '$parent.edit_setting')}

      %hr

      %label Incoming
      %br
      %span.desc Define whre to store this values

      %table.GralTable.CleanTable.NoHead{ko(:if => 'responses().length > 0')}
        %tbody{ko(foreach: 'responses')}
          %tr
            %td{ko(text: 'display_name')}
          %tr
            %td
              = store_value_tags
              / %button.farrow

    .bottom-actions
      %button.fdelete{ 'data-bind' => 'click: remove_with_confirm' } Remove this step