%script{type: "text/html", id: "external_step_template"}
  .feditor-sidebar.right.box.w28.iblock.h65

    / ko if: is_editing_setting()
    %div{ko(:template => "{name: 'external_setting_template', data: current_editing_setting}")}
    / /ko

    .tableheader
      %span.left.i48grad-phone{ ko(css: '{ "orange": is_invalid }') }
      %input.ux-text.w20.right{ ko(value: 'name', valueUpdate: '"afterkeydown"', css: '{ "error": is_name_invalid }')}

    .content.scroll
      %div{ko(:if => 'settings().length > 0')}
        %label Parameters
        %br
        %span.desc These will be sent to the external service

        %table.GralTable.TwoColumn.CleanTable.NoHead
          %tbody{ko(foreach: 'settings')}
            %tr
              %td
                &larr;
                %span{ko(text: 'display_name')}
                %span.greytext{ko(text: 'description()')}
              %td
                %button.farrow{ko(click: '$parent.edit_setting')}

      %hr

      %div{ko(:if => 'responses().length > 0')}
        %label Response
        %br
        %span.desc These will be returned by the external service
        / ko foreach: responses
        .response
          %span.greytext &rarr;
          %span{ko(text: 'display_name')}
          %br
          %input{:type => 'checkbox', 'data-bind' => 'checked: defines_store'}
          %label Store to the address book as:
          %br
          %input{:type => 'text', :placeholder => 'Enter a name for the value', 'data-bind' => 'value: store, enable: defines_store, initAutocomplete: {source: workflow.all_variables()}, initMask: {mask: $.mask.masks.token}'}
        / /ko

    .bottom-actions
      %button.fdelete{ 'data-bind' => 'click: remove_with_confirm' } Remove this step