%script{type: "text/html", id: "goto_step_template"}
  .feditor-sidebar.right.box.w28.iblock.h65
    .tableheader
      %span.left.i48grad-bookmark{ ko(css: '{ "orange": is_invalid }') }
      %input.ux-text.w20.right{ ko(value: 'name', valueUpdate: '"afterkeydown"', css: '{ "error": is_name_invalid }')}

    %table.GralTable.TwoColumn.CleanTable.NoHead
      %tr
        %th{ko(css: "{ orange: is_jump_id_invalid }")}
          Go to step
          %span{ko(css: "{ alert: is_jump_id_invalid }")}
        %th
      %tr
        %td{:colspan => 2}
          %select.w100{'data-bind' => "value: jump_id, options: available_steps(), optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select one...'"}
    .content
      .bottom-actions
        %button.fdelete{ 'data-bind' => 'click: remove_with_confirm' } Remove this step