%script{type: "text/html", id: "hang_up_and_call_back_step_template"}
  .feditor-sidebar.right.box.w28.iblock.h65
    .tableheader
      %span.left.i48grad-phone{ ko(css: '{ "orange": is_invalid }') }
      %input.ux-text.w20.right{ ko(value: 'name', valueUpdate: '"afterkeydown"', css: '{ "error": is_name_invalid }')}

    %table.GralTable.TwoColumn.CleanTable.NoHead
      %tr
        %th Call back
        %th
      %tr
        %td
          Hang up and immediately call back the caller, continuing the Call Flow from this point.
        %td
    %br/

    .content
      Dial Prefix
      %br/
      %input.w25{'type' => 'text', 'data-bind' => 'value: dial_prefix'}
      %br/

      .bottom-actions
        %button.fdelete{ 'data-bind' => 'click: remove_with_confirm' } Remove this step
