%script{type: "text/html", id: "hang_up_step_template"}
  .feditor-sidebar.right.box.w28.iblock.h65
    .tableheader
      %span.left.i48grad-phone{ ko(css: '{ "orange": is_invalid }') }
      %input.ux-text.w20.right{ ko(value: 'name', valueUpdate: '"afterkeydown"', css: '{ "error": is_name_invalid }')}

    %table.GralTable.TwoColumn.CleanTable.NoHead
      %tr
        %th End call
        %th
      %tr
        %td Call will be hung up here
        %td

    .content
      .bottom-actions
        %button.fdelete{ 'data-bind' => 'click: remove_with_confirm' } Remove this step