%script{type: "text/html", id: "message_template"}
  .feditor-sidebar.right.box.w28.iblock.h65.addstep
    .box.popupmessage
      %div
        %label{ko(text: 'title')}
        %br/
      %div
        %select.w22{ko(options: "messages", optionsText: "'label'", value: "current_message")}
        %br/
      %div{ko(:template => "{name: current_message().template(), data: current_message}")}
      %hr
        %button.white{ 'data-bind' => 'click: back' } Done
