%script{type: "text/html", id: "play_step_template"}
  %span
    %div{ko(:if => "is_editing_message()")}
      %div{ko(template: "{name: 'message_template', data: current_editing_message}")}

    %div{ko(:if => "is_editing_resource()")}
      %div{ko(template: "{name: 'resource_editor_template', data: current_editing_resource}")}

    %div{ko(:if => "!is_editing_message() && !is_editing_resource()")}
      .feditor-sidebar.right.box.w28.iblock.h65
        .tableheader
          %span.left.i48grad-sound{ ko(css: '{ "orange": is_invalid }') }
          %input.ux-text.w20.right{ ko(value: 'name', valueUpdate: '"afterkeydown"', css: '{ "error": is_name_invalid }')}

        %table.GralTable.TwoColumn.CleanTable.NoHead
          %tr
            %tr
              %td{ko(css: "{ orange: is_message_invalid }")}
                Message:
                %span{ko(css: "{ alert: is_message_invalid }")}
                %span{ko(text: "message.name()")}
              %td
                %button.farrow{ :type => "button", 'data-bind' => 'click: show_message' }
                %button.farrow{ :type => "button", 'data-bind' => 'click: show_resource' }
        .content
          .bottom-actions
            %button.fdelete{ 'data-bind' => 'click: remove_with_confirm' } Remove this step