%script{type: "text/html", id: "resource_editor_template"}
  .popup
    .courtain
    .box.popupmessage

      / ko if: resource() == null
      %div Message
      %hr
      %div
        %input#create-new-message{:type => 'radio', :value => 'new', 'data-bind' => 'checked: type'}
        %label{:for => 'create-new-message'} Create new message
      .resource-name
        %input.w22{:type => 'text', :placeholder => 'Enter message name', 'data-bind' => 'value: name, valueUpdate: "afterkeydown", visible: type() == "new"'}
      %div
        %input#select-an-existing-one{:type => 'radio', :value => 'existing', 'data-bind' => 'checked: type'}
        %label{:for => 'select-an-existing-one'} Select an existing one
      .resource-name
        %input.w22{:type => 'text', :placeholder => 'Enter message name', 'data-bind' => "visible: type() == 'existing', jqAuto: { autoFocus: true }, jqAutoSource: matching_resources, jqAutoQuery: get_resources, jqAutoValue: existing_resource_guid, jqAutoSourceLabel: 'name', jqAutoSourceInputValue: 'name', jqAutoSourceValue: 'guid'"}
      %hr
      %button.white{'data-bind' => 'click: next, enable: is_next_enabled'} Next
      %a.cancel{:href => '#', 'data-bind' => 'click: cancel'} Cancel
      / /ko

      / ko if: resource() != null
      / ko with: resource
      %div
        %label Name
        %br
        %span.desc Enter message name
      .w22
        %input.ux-text{:type => 'text', 'data-bind' => 'value: name'}
      / %div
      /   %span.alert-orange-b Message in use in 3 other steps
      /   %span.alert-orange
      %hr
      %div Languages
      / ko foreach: localizedResources
      %div
        %span{'data-bind' => "css: {'alert-orange': uploadStatus() == 'error'}"}
          %a{:href => '#', 'data-bind' => "click: $parent.editLocalizedResource"}
            %span{'data-bind' => "css: {'arrow-col': $parent.current_editing_localized_resource() != $data, 'arrow-exp': $parent.current_editing_localized_resource() == $data}"}
            %span{'data-bind' => 'text: title'}
      / ko if: $parent.current_editing_localized_resource() == $data
      .text-right
        %select.w100{ko(options: "options", optionsText: "'label'", value: "current")}
        %div{ko(:template => "{name: current().template, data: current}")}
      / /ko
      / /ko
      / /ko

      %hr

      %button#save-resource.white{ko(click: 'save', text: "resource().saving() ? 'Saving...' : 'Save'", disable: "resource().saving()")}
      %a.cancel{:href => '#', 'data-bind' => 'click: cancel'} Cancel
      %button.fsync.right{'data-bind' => 'click: replace'} Replace

      / /ko
