%script{type: "text/html", id: "text_localized_resource_template"}
  .w22
    %textarea{:rows => 6, :placeholder => 'Write here the text you want the user to hear', 'data-bind' => 'value: text, valueUpdate: "afterkeydown"'}