%script{type: "text/html", id: "upload_localized_resource_template"}
  %div
    %input{:type => 'file', 'data-bind' => 'fileupload: url, fileuploadSubmit: submit'}
  .w22
    %textarea{:rows => 6, :placeholder => 'Write here a description of the recording, either as a reminder for you or as a reference for the person that will record the message.', 'data-bind' => 'value: description'}
