%script{type: "text/html", id: "url_localized_resource_template"}
  .w22
    %textarea{:rows => 6, :placeholder => 'Write here the URL that holds the audio file you want the user to hear', 'data-bind' => 'value: url, valueUpdate: "afterkeydown"'}