= render 'shared/project_tabs_and_title', :project => @project

%h2 Call flows
%p Use the following tool to define your application's call flows

- @call_flows.each do |call_flow|
  = render 'box', :call_flow => call_flow, :expanded => call_flow.errors.any?

.box.grey.w60.addqueue
  %span
    = link_to_add_fields :call_flow, "Add Call flow", @project
  %button.cadd.right{:onclick => "$('.add_fields', $(this).closest('.box')).click();", :type => "button"}
  .clear