%script{type: "text/html", id: "record_localized_resource_template"}
  .player{ko(visible: '$parent.editing()')}
    %span{ko(text: 'duration', css: "{recording: recording()}")}
    %button.fplay{ko(click: 'play', visible: '!playing()', css: "{disabled: globalPlaying() || globalRecording() || recording() || !hasAudio()}")}
    %button.fstop{ko(click: 'stop', visible: 'playing()')}
    %button.frecording{ko(click: 'record', visible: '!recording()', css: "{disabled: globalPlaying() || globalRecording() || playing()}")}
    %button.fstopped{ko(click: 'stop', visible: 'recording()', css: "{active: recording(), disabled: playing()}")}
  / ko if: uploadStatus() == 'pending'
  %span.alert-save-resource Save the resource in order to upload this recording
  / /ko
  / ko if: uploadStatus() == 'error'
  %span.alert-orange-b There was an error saving the recording
  / /ko
  .w100.h08m{ko(visible: '$parent.editing()')}
    %textarea{:rows => 6, :placeholder => 'Write here a description of the recording, either as a reminder for you or as a reference for the person that will record the message.', 'data-bind' => 'value: description'}
  %span.i18b-audio{ko(visible: '! $parent.editing()')}
  %span{ko(text: 'description', visible: '! $parent.editing()')}
