%script{type: "text/html", id: "resource_template"}
  - ko_attrs = project_admin? ? {click: 'edit', css: '{ clickable: !editing() && !saving(), disabled: saving() }'} : {}
  %tr{ko(ko_attrs)}
    %td{'data-bind' => 'css: { editing: editing()}'}
      %span.name{'data-bind' => "visible: !editing(), text: name, css: {upload_error: !saving() && error(), upload_ok: !saving() && uploadOk() }"}
      = text_field_tag :name, '', :class => '', 'data-bind' => 'visible: editing, value: name, valueUpdate: "afterkeydown"', :placeholder => 'Enter resource name'
      .progress{ko(visible: 'saving()')}
        .bar{'data-bind' => "style: {width: uploadProgress() + '%;'}"}
      %span.alert-orange-b{ko(visible: '!is_valid() && !name()')} Missing name
    / ko with: firstResource
    %td{ko(template: '{name: template}, css: { editing: editing() }')}
    / /ko
    / ko with: secondResource
    %td{ko(template: '{name: template}, css: { editing: editing() }')}
    / /ko
  %tr{ko(visible: 'editing')}
    %td
      - if project_admin?
        %button#save-resource.white{ko(click: 'save', text: "saving() ? 'Saving...' : 'Save'", disable: "saving()")}
      %a.cancel{ko(click: 'cancel', visible: 'editing'), href: '#'} Cancel
    %td
    %td.text-right
      %button.fdelete{ 'data-bind' => 'click: removeWithConfirm' } Remove this resource
