%script{type: "text/html", id: "upload_localized_resource_template"}
  %div{ko(visible: '$parent.editing')}
    / ko if: hasAudio() && !isEditing()
    %span{'data-bind' => 'text: filename'}
    %span
      %button.fimport.right{'data-bind' => 'click: download'}
    %span
      %button.fsync.right{'data-bind' => 'click: replace'}
    / /ko
    / ko if: !hasAudio() || isEditing()
    .upload-file.fexport
      %input{:type => 'file', 'data-bind' => 'fileupload: url, fileuploadSubmit: submit, fileuploadDone: done, fileuploadAdd: add'}
    Upload
    / ko if: hasAudio()
    %button.fclose.right{'data-bind' => 'click: cancel'}
    / /ko
    / /ko
  .w100
    %textarea{:rows => 6, :placeholder => 'Write here a description of the recording, either as a reminder for you or as a reference for the person that will record the message.', 'data-bind' => 'value: description, visible: $parent.editing'}
  %span.i18b-file{ko(visible: '! $parent.editing()')}
  %span{ko(text: 'description', visible: '! $parent.editing()')}
