%script{type: "text/html", id: "upload_localized_resource_template"}
  %div{ko(visible: '$parent.editing')}
    / ko ifnot: hasAudio()
    %span.alert-orange-b No file uploaded yet
    / /ko
    / ko if: hasAudio()
    %span.clickable{'data-bind' => 'text: filename, click: download'}
    / /ko
    / ko ifnot: hasAudio()
    .right
      .upload-file.fexport
        %input{:type => 'file', 'data-bind' => 'fileupload: url, fileuploadSubmit: submit, fileuploadDone: done, fileuploadAdd: add'}
      Upload
    / /ko
    / ko if: hasAudio()
    .right
      .upload-file.fsync
        %input{:type => 'file', 'data-bind' => 'fileupload: url, fileuploadSubmit: submit, fileuploadDone: done, fileuploadAdd: add'}
      Replace
    / /ko
  .w100
    %textarea{:rows => 6, :placeholder => 'Write here a description of the recording, either as a reminder for you or as a reference for the person that will record the message.', 'data-bind' => 'value: description, visible: $parent.editing'}
  %span.i18b-file{ko(visible: '! $parent.editing()')}
  %span{ko(text: 'description', visible: '! $parent.editing()')}
