%h2 Service Properties

- if external_service.name
  .field
    %span Name:
    %span= external_service.name
    %br/

- if external_service.steps.any?
  %br/
  %h3 Steps defined
  - external_service.steps.each do |step|
    %span Name:
    %span= step.display_name
    %br/
    %span URL:
    %span= step.callback_url
    %br/
    %br/