= render 'shared/project_tabs_and_title', :project => project

%h2 External services
%p Use the following tool to define your application's external services

- external_services.each do |external_service|
  = render 'box', :external_service => external_service, :expanded => external_service.errors.any?

.box.grey.w60.addqueue
  %span
    = link_to_add_fields :external_service, "Add External service", @project, :class => 'addfields'
  %button.cadd.right{:onclick => "$('.add_fields', $(this).closest('.box')).click();", :type => "button"}
  .clear