<h1>Error</h1>

<p>
  Error running the command <code><%= @ex.cmd %></code>
</p>

<p>
  <pre class="pre-scrollable">
    <%= @ex.output %>
  </pre>
</p>

<a href="#" onclick="window.history.back(); return false;">Go back to previous page</a>
