@mixin all-box-shadow($boxShadow) {
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
}
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;
}
@mixin box-sizing ($size) {
  -webkit-box-sizing: $size;
  -moz-box-sizing:    $size;
  box-sizing:         $size;
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
