.collapsible_crud_box {
  .middle {
    .steps {
      div {
        a{
          width: 270px !important;
          height: 56px !important;
          padding-left: 69px;
          cursor: inherit;
        }
        a:hover, a:active {
          background-position: 0px 0px;
        }
      }
    }
  }
}