body.full-width #toolbar, body.full-width #header, body.full-width #container, body.full-width #footer-container { margin:auto; width:98%; min-width:1000px }
body.full-width #header { position:relative; margin-bottom:0; }
body.full-width #header .logo { position:absolute; top:-20px }
body.full-width #header .BreadCrumb { margin:24px 0 0 170px; width:auto; float:none }
body.full-width .apps.right { max-width:700px }
body.full-width #instedd-footer { display:inline-block }
body.full-width.fixed-width-content #container { width: 960px; margin-left: auto; margin-right: auto; }