tr.link, tr.clickable {
  cursor: pointer;
  &:hover {
    background: #eaeaea !important;
  }
}

.clickable {
  cursor: pointer;
}

.tabsline {
  padding: 0 0 10px 0 !important;
}

.nowrap {
  white-space: nowrap;
}

.homepage .illustration {
  background: image-url("illustration.png") no-repeat scroll 0 0 transparent;
  height: 406px;
  width: 438px;
}

.i96grad-medicine
{
  background: image-url("medicine.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i96grad-tree
{
  background: image-url("tree.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i96grad-pieChart
{
  background: image-url("pieChart.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i96grad-fire
{
  background: image-url("fire.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i96-council
{
  background: image-url("council.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i96-cross
{
  background: image-url("cross.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i48grad-scale {
  background: image-url("scale.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

.i48grad-computer {
  background: image-url("computer.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

.i48grad-language {
  background: image-url("language.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

span.validation {
  display: inline-block;
  width: 135px;
  margin:6px 0 !important;
}

span.forwardto {
  display:inline-block;
  width:66px;
  margin:6px 0 !important
}

.hidden {
  display: none;
}

span.language {
  display: inline-block;
  width: 270px !important;
}

.upload-file {
  padding: 0 !important;
  overflow: hidden;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
.upload-file input {
  opacity: 0;
  width: 24px;
  height: 24px;
}
.pointer {
  cursor: pointer;
}

.screen_block {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#resources, #workflow {
  .alert-save-resource {
    color: #999;
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
    font-style: italic;
  }

  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-style: italic;
  }

  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-style: italic;
  }

  :-ms-input-placeholder { /* Internet Explorer 10+ */
    font-style: italic;
  }
}
