tr.link {
  cursor: pointer;
  &:hover {
    background: #eaeaea !important;
  }
}

.clickable {
  cursor: pointer;
}

.tabsline {
  padding: 0 0 10px 0 !important;
}

.nowrap {
  white-space: nowrap;
}