tr.link {
  cursor: pointer;
  &:hover {
    background: #eaeaea !important;
  }
}

.clickable {
  cursor: pointer;
}

.tabsline {
  padding: 0 0 10px 0 !important;
}

.nowrap {
  white-space: nowrap;
}

label {
  color:#555555
}

label + p.desc {
  font-size:11px !important;
  color:#555555;
  margin:0 !important;
}

p + p.desc {
  font-size:11px !important;
  color:#555555;
  margin-top:-15px !important;
}

.desc {
  font-size:11px;
}
