#resources .GralTable td {
  vertical-align: top;
}

#recorder {
  position: fixed;
  background: none;
  top:15%;
  left:50%;
  margin-left: -150px;
  z-index: 0;
  visibility: hidden;
}

#recorder.recorder-visible {
  visibility: visible;
  z-index: 1000;
}
