.homepage .illustration {
  background: image-url("illustration.png") no-repeat scroll 0 0 transparent;
  height: 406px;
  width: 438px;
}
.i96grad-medicine
{
  background: image-url("medicine.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i96grad-tree
{
  background: image-url("tree.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}
.i96grad-pieChart
{
  background: image-url("pieChart.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}
.i96grad-fire
{
  background: image-url("fire.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i96-council
{
  background: image-url("council.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}
.i96-cross
{
  background: image-url("cross.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i48grad-scale {
  background: image-url("scale.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

.i48grad-computer {
  background: image-url("computer.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

.i48grad-language {
  background: image-url("language.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

span.validation {
  display: inline-block;
  width: 135px;
  margin:6px 0 !important;
}

span.forwardto {
  display:inline-block;
  width:66px;
  margin:6px 0 !important
}

span.alert-orange {
  background: url(http://theme.instedd.org/theme/images/icons/18/orange/alert.png) no-repeat right;
  padding-right:18px;
  color:#ff6600;
  display:inline-block
}

.w05 { width:50px }
.w17 { width:172px !important }
.w25 { width:254px !important }
.w28 { width:285px }
.w64 { width:640px }
.w100 { width:100% }

.h40 { height:400px }
.h50 { height:500px }
.h60 { height:600px }
.h65 { height:650px }

/* Body full width */
body.full-width #toolbar, body.full-width #header, body.full-width #container, body.full-width #footer-container { margin:auto; width:98%; min-width:1000px }
body.full-width #header { position:relative; height:auto; margin-bottom:0; padding-bottom:35px }
body.full-width #header .logo { position:absolute; top:-20px }
body.full-width #header .BreadCrumb { margin:24px 0 0 170px; width:auto; float:none }
body.full-width .apps.right { max-width:700px }
body.full-width #instedd-footer { display:inline-block }
body.full-width.fixed-width-content #container { width: 960px; margin-left: auto; margin-right: auto; }

/*
body.full-width #instedd-footer .jcarousel-container,body.full-width  #instedd-footer .jcarousel-clip { width:auto; display:inline-block  }
body.full-width .jcarousel-list-horizontal { width:auto !important }
table.apps-footer { width:100% }
table.apps-footer td.platform { padding:28px 15px 10px 0 }
*/

/* Footer */
#instedd-footer .jcarousel-container { background-color:#ffffff; background-image:none; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border: 1px solid #dddddd; -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2) inset; -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2) inset;  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2) inset }

/* ------------ Buttons Up/Down ------------------- */
.btupdn { display: inline-block; vertical-align:middle; width:24px; height:24px; position:relative }
.fmoveup, .fmovedown {
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    min-width: 24px;
}
.fmoveup:hover, .fmovedown:hover {
    background-position: 0 -30px;
}
.fmoveup:active, .fmovedown:active {
    background-position: 0 -60px;
}
.fmovedown { background:url(http://resmap-stg.instedd.org/assets/moveDown.png) no-repeat; position:absolute; bottom:1px }
.fmoveup { background:url(http://resmap-stg.instedd.org/assets/moveUp.png) no-repeat; position:absolute; top:0 }

