.homepage .illustration {
  background: image-url("illustration.png") no-repeat scroll 0 0 transparent;
  height: 406px;
  width: 438px;
}
.i96grad-medicine
{
  background: image-url("medicine.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i96grad-tree
{
  background: image-url("tree.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}
.i96grad-pieChart
{
  background: image-url("pieChart.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}
.i96grad-fire
{
  background: image-url("fire.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i96-council
{
  background: image-url("council.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}
.i96-cross
{
  background: image-url("cross.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i48grad-scale {
  background: image-url("scale.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

.i48grad-computer {
  background: image-url("computer.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

.i48grad-language {
  background: image-url("language.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

span.validation {
  display: inline-block;
  width: 135px;
  margin:6px 0 !important;
}

span.forwardto {
  display:inline-block;
  width:66px;
  margin:6px 0 !important
}

span.alert-orange {
  background: url(http://theme.instedd.org/theme/images/icons/18/orange/alert.png) no-repeat right;
  padding-right:18px;
  color:#ff6600;
  display:inline-block
}

.w05 { width:50px }
.w17 { width:172px !important }
.w28 { width:285px }
.w64 { width:640px }
.w100 { width:100% }

.h40 { height:400px }
.h50 { height:500px }
.h60 { height:600px }
.h65 { height:650px }

body.full-width {
  #toolbar, #header, #container, #footer-container { margin:auto; width:98%; min-width:1000px }
  #header { position:relative; height:auto; margin-bottom:0; padding-bottom:35px }
  #header .logo { position:absolute; top:-20px }
  #header .BreadCrumb { margin:24px 0 0 170px; width:auto; float:none }
  #instedd-footer .jcarousel-container, #instedd-footer .jcarousel-clip { /*width:auto*/ }
}
