@import 'mixins';

#workflow-page {
  position: relative;
}

label {
  color:#555555;
}

label + p.desc {
  font-size:11px !important;
  color:#555555;
  margin:0 !important;
}

.lightgrey {
  background-color:#ebebeb !important;
}

.box.workflow {
  @include all-box-shadow(0px 1px 0px 0px rgba(0, 0, 0, 0.2) inset);
}

.workflow-content-container {
  overflow:auto;
}

.workflow-container {
  position:relative;
  white-space:nowrap;

  p {
    margin:0;
    padding:0;
  }

  p.button.active {
    background-position: 0 -120px !important
  }

  div {
    display:inline-block;
    margin:0 35px 10px 0;
    vertical-align:top;
    text-align:center;
    width:55px;
    height:80px;
    position:relative;

    p {
      font-size:11px;
      line-height:12px;
      margin:3px 0 0 0;
      padding:0;
      white-space:normal;
    }
  }

  div.ha span {
    background:url(http://theme.instedd.org/theme/images/workflow/arrow-hor.png) no-repeat;
    width:32px;
    height:8px;
    position:absolute;
    left:-34px;
    top:25px;
    display:block;
  }
  div.va span {
    background:url(http://theme.instedd.org/theme/images/workflow/arrow-ver.png) no-repeat;
    width:18px;
    height:95px;
    position:absolute;
    left:-20px;
    top:-60px;
    display:block;
  }

  div.va-ext span {
    background:image-url('arrow-ver-ext.png') no-repeat;
    width:2px;
    height:90px;
    position:absolute;
    left:-20px;
    top:-60px;
    display:block;
  }
}

.box.iblock {
  padding: 10px 0;
  position: relative;

  hr {
    width:92%;
    margin:15px auto 20px auto;
  }

  .content {
    padding: 0 5px;
  }
}

.box.addstep {
  background-color:#efefef;
  @include all-box-shadow(0px 1px 1px 0px rgba(0, 0, 0, 0.2) inset);
  white-space:normal
}

.iblock {
  display: inline-block;
  vertical-align: top;
  margin-right:15px;
}

.tableheader {
  background: url(http://theme.instedd.org/theme/images/interface/backtd.png) repeat-x left 140%;
  height:65px;
  padding:0 5px 15px 5px;
}

.GralTable.NoHead {
  td {
    border: none;
    padding: 2px 6px;

    &.sub {
      padding-left:15px;
    }

    &.disabled {
      color: #cccccc;
    }

    &.add {
      color: #1F86C8;
    }
  }

  tr:nth-child(2) {
    background-image: none;
  }

}

.TwoColumn tr td:last-child, .TwoColumn tr th:last-child {
  width: 30px !important;
}

.bottom-actions {
  position: absolute;
  bottom: 0px;
  padding-left: 5px;
}

ul.oplist {
  margin: 0;
  padding: 0;
  list-style: none;

  select {
    width: 60px;
  }

  .ux-text {
    width: 238px !important;
  }
}

span.oplist {
  width: 200px !important;
  display: inline-block !important;
}

.ux-oplist {
  border-color: white !important;
  @include all-box-shadow(none !important);
  width: 178px !important;
}

.ux-oplist:focus {
  border: 2px solid #dddddd !important;
  @include all-box-shadow(0px 1px 0px 0px rgba(0, 0, 0, 0.3) inset);
}

.ux-oplist:disabled {
  background-color: white !important;
  color:#999999;
  border: 1px solid transparent !important;
  @include all-box-shadow(none);
}

span.arrow-col { background: url(http://theme.instedd.org/theme/images/icons/misc/grey/arrowRight.png) no-repeat; display:inline-block; height:10px; width:14px }
span.arrow-exp { background: url(http://theme.instedd.org/theme/images/icons/misc/grey/arrowDown.png) no-repeat; display:inline-block; height:10px; width:16px }
span.arrow-col.orange { background: url(http://theme.instedd.org/theme/images/icons/misc/orange/arrowRight.png) no-repeat; display:inline-block; height:10px; width:14px }
span.arrow-exp.orange { background: url(http://theme.instedd.org/theme/images/icons/misc/orange/arrowDown.png) no-repeat; display:inline-block; height:10px; width:16px }

div.player span { display:inline-block; vertical-align:middle }
div.player span.recording {color:#cf490c;}
div.player button { vertical-align:middle }
div.player .disabled { background-position: 0 -90px ! important;}
div.player .active { background-position: 0 -60px ! important;}

.content-header { padding:26px 50px; text-align:center }
.content-header h1 { font-size:16px; color:#000000; margin:0 }
.content-header span { font-size:12px; color:#555555 }

.content-buttons { margin:0 auto; width:265px }
.content-buttons div { text-align:center; display:inline-block; vertical-align:top; width:85px; margin-bottom:15px }
.content-buttons span { font-size:11px; color:#000000; display:block; padding-top:5px }
.content-buttons div.disabled span { color:#b3b3b3 }

.popupmessage { width:220px; margin:20px auto }
.box.popupmessage hr { width:220px; margin:9px 0 }
.popupmessage div { color:#555555; margin:5px 0 }
.popupmessage div.grey { background:#eeeeee; padding:5px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px }
.popupmessage div.grey button { vertical-align:middle }
