@import 'mixins';

#workflow-page {
  position: relative;
}

label {
  color:#555555;
}

label + p.desc {
  font-size:11px !important;
  color:#555555;
  margin:0 !important;
}

.lightgrey {
  background-color:#ebebeb !important;
}

.box.workflow {
  @include all-box-shadow(0px 1px 0px 0px rgba(0, 0, 0, 0.2) inset);
}

table.workflow-table {
  width:100%
}

.workflow-content-container {
  overflow:auto;
}

.workflow-container {
  position:relative;
  white-space:nowrap;
  padding-left: 20px;

  p {
    margin:0;
    padding:0;
  }

  p.button.active {
    background-position: 0 -120px !important
  }

  a.insertBefore, a.insertAfter {
    cursor: pointer;
    z-index: 20;
    &.active { background-position: 0 -30px !important}
    &:active { background-position: 0 -30px !important}
    &:hover  { background-position: 0 -60px !important}
  }

  a.insertBefore {
    background:image-url("insertBefore.png") no-repeat; width:19px; height:19px; position:absolute; left:-20px; top:37px; display: block;
  }

  a.insertAfter {
    background:image-url("insertAfter.png") no-repeat; width:19px; height:19px; position:absolute; left:60px; top:37px; display: block;
  }

  div {
    display:inline-block;
    margin:0 35px 10px 0;
    vertical-align:top;
    text-align:center;
    width:55px;
    height:80px;
    position:relative;

    p {
      font-size:11px;
      line-height:12px;
      margin:3px 0 0 0;
      padding:0;
      white-space:normal;
    }
  }

  p.addnew {
    background:image-url("addStep.png") no-repeat; height: 21px; width: 21px; margin: 18px 0px 5px 15px; cursor: pointer; border: medium none;
    &.button.active { background-position: 0 -30px !important}
    &.button:hover  { background-position: 0 -60px !important}
  }

  div.ha span { background:image-url("arrow-hor.png") no-repeat; width:32px; height:8px; position:absolute; left:-31px; top:28px; display:block }
  div.ha2 span { background:image-url("arrow-hor2.png") no-repeat; width:32px; height:8px; position:absolute; left:-31px; top:28px; display:block }
  div.ha-ext span { background:image-url("arrow-hor-ext.png") no-repeat; width:95px; height:8px; position:absolute; left:-31px; top:30px; display:block }
  div.ha-ext-nodot span { background:image-url("arrow-hor-ext2.png") no-repeat; width:95px; height:8px; position:absolute; left:-31px; top:30px; display:block }
  div.va span { background:image-url("arrow-ver.png") no-repeat; width:18px; height:95px; position:absolute; left:-17px; top:-60px; display:block }
  div.va-bl-t span { background:image-url("arrow-ver3.png") no-repeat 0 -2px; width:32px; height:95px; position:absolute; left:-31px; top:-60px; display:block }
  div.va-bl-tr span { background:image-url("arrow-ver7.png") no-repeat 0 1px; width:32px; height:95px; position:absolute; left:-31px; top:-60px; display:block }
  div.va-ext span { background:image-url("arrow-ver-ext.png") no-repeat; width:2px; height:90px; position:absolute; left:-17px; top:-60px; display:block }
  div.va-skip span { background:image-url("arrow-l.png") no-repeat; width:76px; height:95px; position:absolute; left:-17px; top:-60px; display:block }
  div.va-merge span { background-position: 0 -2px !important; top: -58px !important }
  div.va-bl-t.va-merge span { background-position: 0 -3px !important; top: -59px !important }
}

.box.iblock {
  padding: 10px 0;
  position: relative;

  hr {
    width:92%;
    margin:15px auto 20px auto;
  }

  .content {
    padding: 0 5px;
  }

  .content.scroll {
    height:544px;
    overflow:auto;
    overflow-x: hidden;
  }
}

.box.addstep {
  background-color:#efefef;
  @include all-box-shadow(0px 1px 1px 0px rgba(0, 0, 0, 0.2) inset);
  white-space:normal;
  overflow: auto;
}

.iblock {
  display: inline-block;
  vertical-align: top;
  margin-right:15px;
}

.tableheader {
  background: url(http://theme.instedd.org/theme/images/interface/backtd.png) repeat-x left 140%;
  height:65px;
  padding:0 5px 15px 5px;
}

.GralTable.NoHead {
  td {
    border: none;
    padding: 2px 6px;

    &.sub {
      padding-left:15px;
    }

    &.disabled {
      color: #cccccc;
    }

    &.add {
      color: #1F86C8;
    }
  }

  tr:nth-child(2) {
    background-image: none;
  }

}

.TwoColumn tr td:last-child, .TwoColumn tr th:last-child {
  width: 30px !important;
}

.bottom-actions {
  position: absolute;
  bottom: 0px;
  padding-left: 5px;
}

input.branch-condition-rhs {
  width: 113px !important;
}

select.branch-condition-rhs {
  width: 121px !important;
}


ul.oplist {
  margin: 0;
  padding: 0;
  list-style: none;

  select {
    width: 60px;
  }

  .ux-text {
    width: 228px !important;
    display: inline-block;
  }
}

span.oplist {
  width: 200px !important;
  display: inline-block !important;
}

.ux-oplist {
/*  border-color: white !important;*/
/*  @include all-box-shadow(none !important);*/
  width: 164px !important;
  display: inline-block;
}

.ux-oplist:focus {
  border: 2px solid #dddddd !important;
  @include all-box-shadow(0px 1px 0px 0px rgba(0, 0, 0, 0.3) inset);
}

.ux-oplist:disabled {
  background-color: white !important;
  color:#999999;
  border: 1px solid transparent !important;
  @include all-box-shadow(none);
}

span.arrow-col { background: url(http://theme.instedd.org/theme/images/icons/misc/grey/arrowRight.png) no-repeat; display:inline-block; height:10px; width:14px }
span.arrow-exp { background: url(http://theme.instedd.org/theme/images/icons/misc/grey/arrowDown.png) no-repeat; display:inline-block; height:10px; width:16px }
span.arrow-col.orange { background: url(http://theme.instedd.org/theme/images/icons/misc/orange/arrowRight.png) no-repeat; display:inline-block; height:10px; width:14px }
span.arrow-exp.orange { background: url(http://theme.instedd.org/theme/images/icons/misc/orange/arrowDown.png) no-repeat; display:inline-block; height:10px; width:16px }

div.player span { display:inline-block; vertical-align:middle }
div.player span.recording {color:#cf490c;}
div.player button { vertical-align:middle }
div.player .disabled { background-position: 0 -90px ! important;}
div.player .active { background-position: 0 -60px ! important;}

.content-header { padding:26px 40px; text-align:center }
.content-header h1 { font-size:16px; color:#000000; margin:0 }
.content-header span { font-size:12px; color:#555555 }

.content-buttons { margin:0 auto; width:265px }
.content-buttons div { text-align:center; display:inline-block; vertical-align:top; width:85px; margin-bottom:15px }
.content-buttons span { font-size:11px; color:#000000; display:block; padding-top:5px }
.content-buttons div.disabled span { color:#b3b3b3 }

.popup { position:absolute; top:0; left:0; width:285px; height:670px }
.popupmessage { width:220px; margin:20% auto 0 auto  }
.box.popupmessage hr { width:220px; margin:9px 0 }
.popupmessage div { color:#555555; margin:5px 0 }
.popupmessage div.grey { background:#eeeeee; padding:5px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px }
.popupmessage div.grey button { vertical-align:middle }
.box.popupmessage { position:relative; z-index:3; width:240px; }
div.courtain { background:#000000; width:285px; height:670px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; position:absolute; top:0px; left:0px; z-index:2; filter: alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" }

.box.noshadow { padding:2px !important; margin:0px !important; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none }
ul.branches { margin:0; padding:0; list-style:none }
ul.branches button { float:right}
ul.branches li { clear:both }

span.orange {
  background-position: left -50px;
}

.workflow-container p.button.alert { background-position:-3px -2px !important; height:53px !important; width:53px !important; padding:0 !important; border:2px solid #ff6600 !important; border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px ; -webkit-box-shadow:none !important;  -moz-box-shadow:none !important; box-shadow:none !important }
.workflow-container p.button.alert:hover { background-position:-3px -62px !important }
.workflow-container p.button.alert.active { background-position:-3px -122px !important }
.workflow-container p.alert-icon {
  background:url(http://theme.instedd.org/theme/images/icons/18/orange/alert.png) no-repeat;
  width:17px;
  height:15px;
  position:absolute;
  right:1px;
  top:1px;
  z-index:2;
}


.feditor-sidebar.addstep {
  button {
    margin: 0px 5px 0px 13px !important;
  }
}

p.alert {
  color: #ff6600;
}

span.alert {
  background: url(http://theme.instedd.org/theme/images/icons/18/orange/alert.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-bottom: 2px;
}

th.orange, td.orange, li.orange, span.orange, label.orange {
  color: #ff6600;
}

.greytext {
  color:#555555 !important;
}

.response { margin-bottom:8px; }
.response input[type="text"] { width:95%; }
.response label { color:#555555; }

select.error {
  border: 2px solid #ff6600;
}

