{erl_opts, [debug_info, warnings_as_errors]}.
{sub_dirs, ["rel"]}.

{deps, [
  {yamler, "", {git, "https://github.com/waj/yamler.git"}},
  {mysql, ".*", {git, "git://github.com/dizzyd/erlang-mysql-driver.git"}},
  {erl_dbmodel, ".*", {git, "https://github.com/manastech/erl-dbmodel.git"}},
  {json, "0.0.2", {git, "https://github.com/hio/erlang-json.git"}},
  {erjs, ".*", {git, "git://github.com/waj/erjs.git"}},
  {lager, ".*", {git , "git://github.com/basho/lager.git", {tag, "1.2.2"}}},
  {ernie_server, ".*", {git, "https://github.com/edgurgel/ernie.git", {branch, "lager"}}},
  {ruby_marshal, ".*", {git, "https://github.com/waj/erlang-ruby-marshal.git"}}
]}.

{eunit_opts, [verbose]}.
