{deps, [
  {eastrisk, "0.0.3", {git, "git://github.com/unisontech/eastrisk.git"}},
  {yamler, "", {git, "https://github.com/superbobry/yamler.git"}},
  {mysql, ".*", {git, "git://github.com/dizzyd/erlang-mysql-driver.git"}},
  {json, "0.0.2", {git, "https://github.com/hio/erlang-json.git"}}
]}.

{port_env, [
  {"DRV_LDFLAGS", "$DRV_LDFLAGS -lmozjs185"}
]}.