[
  {verboice, [
    {asterisk_config_dir, "/usr/local/asterisk/etc/asterisk"},
    {broker_port, 19000}
  ]},

  {inets, [
    {services, [
      {httpd, [
        {server_name, "verboice_broker"},
        {server_root, "."},
        {document_root, "priv/www"},
        {port, 8080},
        {modules, [twilio_httpd_module, mod_log]},
        {error_log, "log/httpd_error.log"}
      ]}
    ]}
  ]}
].