[
  {verboice, [
    {asterisk_config_dir, "/usr/local/asterisk/etc/asterisk"},
    {asterisk_sounds_dir, "/usr/local/asterisk/var/lib/asterisk/sounds"},
    {asterisk_agi_use_pipe_separator, false},
    {broker_port, 19000},

    {db_name, "verboice_development"},
    {db_user, "root"},
    {db_pass, ""},

    {crypt_secret, "secret"},

    {nuntium_host, "https://nuntium.instedd.org"},
    {nuntium_account, "waj"},
    {nuntium_app, "verboice"},
    {nuntium_app_password, "verboice"}
  ]},

  {inets, [
    {services, [
      {httpd, [
        {server_name, "verboice_broker"},
        {server_root, "."},
        {document_root, "tmp/www"},
        {port, 8080},
        {modules, [twilio_httpd_module, mod_get, mod_log]},
        {transfer_log, "log/httpd.log"},
        {error_log, "log/httpd_error.log"}
      ]}
    ]}
  ]}
].
